.footer{
    padding: 8rem;
    background-color: var(--footer-bg-color);

    &__logo{
        width: 12rem;
        display: inline-block;
    }
    &__list{
        list-style: none;
        text-align: center;
    }
    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 5rem;
        }
        @include respond(tab-land){
            &:not(:last-child){
                margin-right: 1.6rem;
            }
        }
        @include respond(tab-port){
            margin: 0;
            padding: 2rem;
        }
    }
    &__link{
        &:link, &:visited{
            color: var(--primary-text-color);
            text-decoration: none;
            text-transform: uppercase;
            font-size: var(--font-size-paragraph);
            letter-spacing: .2rem;
            font-weight: 300;
            display: inline-block;
            transition: all .3s;
        }

        &:hover{
            transform: scale(1.2);
            color: var(--brown-color-dark);
            box-shadow: var(--box-shadow);
        }
    }

}