.section-about{
    padding-top: 8rem;
  }

.section-adventure{
    padding: 21rem 0rem;
    background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0%, rgba(1, 1, 1, 0.7) 100%),
    url(../../images/section-adventures.jpg) center / cover no-repeat;
    transform: skewY(7deg);
    &>*{
        transform: skewY(-7deg);
    }
}  