.title-first{
    color: var(--hero-title-text-color);
    
        &__main{
            display: block;
            font-weight: 800;
            font-size: 5rem;
            line-height: 6rem;
            letter-spacing: 1rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
            opacity: 0;
            animation-name: leftToRight;
            animation-duration: 1s;
            animation-delay: 300ms;
            animation-fill-mode: both;
            animation-timing-function: ease-in;
            backface-visibility: hidden;
            @include respond(tab-land){
                font-size: 4rem;
            }
            @include respond(tab-port){
                font-size: 3.6rem;
                letter-spacing: .5rem;
                margin-bottom: 0;
            }
        }
    
        &__secondary{
            display: block;
            margin-bottom: 6.5rem;
            font-weight: 200;
            font-size: 4rem;
            line-height: 4.8rem;
            letter-spacing: .5rem;
            opacity: 0;
            animation-name: rightToLeft;
            animation-duration: 1s;
            animation-delay: 300ms;
            animation-fill-mode: both;
            animation-timing-function: ease-in;
            backface-visibility: hidden;
            @include respond(tab-land){
                font-size: 3.5rem;
                margin-bottom: 3.5rem;
            }
            @include respond(tab-port){
                font-size: 3.2rem;
                letter-spacing: .2rem;
            }
            
        }
    }
    

.title-secondary{
    text-align: center;
    font-size: var(--font-size-paragraph-h2);
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0%, rgba(161, 79, 3, 1) 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    transition: all, .4s;
    @include respond(tab-land){
        font-size: 3rem;
      }
    &_white{
        color: var(--white);
    }
}    

.title-third{
    font-size: var(--font-size-paragraph-h3);
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 700;
    @include respond(tab-land){
        font-size: 1.8rem;
      }
}

.paragraph{
    font-size: var(--font-size-paragraph);
    letter-spacing: .2rem;
    line-height: 140%;
    font-weight: 400;
    @include respond(tab-land){
        font-size: 1.5rem;
      }
}